.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 30px 0;
}
.todo {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(90, 90, 90);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  margin: 7px;
  border-radius: 10px;
  padding: 5px;
}
.todo-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.edit{
  height: 30px;
}
.edit-content-box{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px 20px;
  /*border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
    background-color:chocolate;*/

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 100;
  width: 101.9%;
  left: -4px;
  top: 5px;
  position: relative;
}
.edit-fields{
  display: flex;
  flex-direction: column;
  flex-grow:1;
  margin-bottom: 5px;
}
.edit-text-input{
  display:flex;
}

.save-button{
display:flex;
align-items: flex-end;
justify-content: flex-end;
width: 40px;
font-size: 30px;
color: #ccc;
}

.edit-content-box input,.edit-content-box button{
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  padding: 3px 0;
  color: #ccc;
}
.edit-content-box button{
  width: 30px;
  text-align: right;
  color: #ccc;
  padding-right:5px;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23cccccc" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

/*
.todo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(90, 90, 90);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 50px;
  width: 100%;
  margin: 7px;
  border-radius: 10px;
  padding: 5px;
}
*/
.menu-btn {
  cursor: pointer;
}

.menu-btn img {
  width: 20px;
}

.menu {
  position: absolute;
  background-color: #fff;
  width: 170px;
  height: 150px;
  display: flex;
  flex-direction: column;
  top: 0;
  right: -180px;
  border-radius: 10px;
  overflow: hidden;
}

.menu button {
  border: none;
  outline: none;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding-left: 12px;
  cursor: pointer;
}

.menu button:hover {
  background-color: rgb(212, 212, 212);
}

.menu button img {
  width: 20px;
}