.edit-form {
  border-radius: inherit;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template: repeat(2, 45px) / auto 45px;
  align-items: center;
  column-gap: 3px;
}

.edit-text-input {
  display: flex;
}

.edit-form input,
.edit-text-input .btn-voice {
  background-color: transparent;
  border: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
  font-size: 1.1rem;
  width: 100%;
  color: black;
  outline: none;
}

.edit-text-input input {
  padding: 0 5px 3px 0;
}

.edit-text-input .btn-voice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background-image: url("../images/calendar.svg");
}

.btn-edit,
.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  align-self: stretch;
  cursor: pointer;
  box-shadow: none;
  background: none;
  margin-left: 5px;
}

.edit-icon {
  height: 1rem;
  
}

.btn-edit {
  grid-row: 1/2;
  grid-column: 2/3;
}

.btn-edit img {
  transform: scale(91%);
}

.btn-close {
  grid-row: 2/3;
  grid-column: 2/3;
}