@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

#mic-color{
  fill:red;
}

.wrapper {
  color: #222;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url('../images/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  width: 500px;
}

header {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

.logo {
  text-align: center;
  width: 220px;
  min-height: 150px;
  margin-right: 10px;
  background: url("../images/logo-dt-light.png") 0 0 no-repeat;
  background-size: 100% auto;
}

@media screen and (max-width: 576px) {
  main {
    width: 100%;
    padding: 0 10px;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .logo {
    width: 100%;
    min-height: 100px;
    margin-right: 10px;
    background: url("../images/logo-mobile-light.png") center no-repeat;
    background-size: contain;
  }
}
