@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* color: #ccc; */
}

body {
  width: 100%;
  background-color: #2f3136;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.logo {
  text-align: center;
  width: 220px;
  min-height: 150px;
  margin-right: 10px;
  background: url('../images/logo-dt.png')  0 0 no-repeat;
  background-size: 100% auto;
}


@media screen and (max-width: 576px) {
  .logo {
    width: 350px;
    min-height: 100px;
    margin-right: 10px;
    background: url('../images/logo-mobile.png')  0 0 no-repeat;
    background-size: 100% auto;
  }
}