:root {
  --status-border-color: #f8f9fa;
}

.status {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius:5px 5px 0 0;
  overflow: hidden;
  font-size: 5rem;
}
.btn-status {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  width: 50%;
  height: 50px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: rgb(110, 123, 141);

}

.left-rounder {
  border-top-left-radius: 5px;
  border-right: none;
}
.right-rounder {
  border-top-right-radius: 5px;
  border-left: none;
}

.active {
  border: 2px solid var(--status-border-color);
  border-bottom: none;
  user-select: none;
  pointer-events: none;
  background-color: #679AB5;
}
